<main class="main-deputy">
	<% if !@deputies.present? %>
		<section class="py-5 container">	
			<div class="text-center fs-4">
				<p class="text-muted"><%= info_message %></p>
			</div>
		</section>
	<% else %>
		<div class="album py-5 bg-light">
			<h1 class="fw-light text-center pb-5"><%= t('.title') %></h1>
			<div class="container">
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
					<% @deputies.each do |deputy| %>
						<div class="col">
							<div class="card mb-3" style="max-width: 540px;">
								<div class="row g-0">
									<div class="col-md-4">
										<img src="<%= deputy.foto %>" class="img-fluid rounded-start" 
										alt="Foto mostrando o(a) rosto do(a) deputado(a) do Estado do Piauí">
									</div>
									<div class="col-md-8">
										<div class="card-body">
											<p class="card-title"><strong><%= deputy.tx_nome_parlamentar %></strong></p>
											<p class="card-text"><%= t('.political_party') %>: <%= deputy.sg_partido %></p>
											<%= link_to t('.expenses'), expenses_path(deputy), class: "btn btn-primary text-end" %>
										</div>
									</div>
								</div>
							</div>
						</div>
					<% end %>        
				</div>
			</div>
		</div>
	<% end %>
</main>